<div class="container">
  <div class="text-center mt-5">
    <h3>本当に退会しますか？</h3><br>
    <p>退会すると、会員登録情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <div class="form-inline">
      <div class="form-group mr-4">
        <%= link_to "退会しない",customers_mypage_path, class:"btn btn-primary" %>  
      </div>
      <div class="form-group">
        <%= link_to "退会する",customers_quit_path, method: :patch, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>


