<div class="col-md-3">
  <table class="table table-hover border">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
    <% genres.each do |f| %>
      <tr>
        <td>
          <%= link_to f.name,"/items/search/#{f.id}",class:"text-dark" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
